body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    
}
.page
{
    width:500px;
    height:700px;
    background-image:url('web background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 20px solid yellow;
    padding:20px;
    box-sizing:border-box;
    background-clip: padding-box;
    position: relative;
}

.insights
{
    font-size: 18px;
   font-weight: bold;
   margin-bottom: 10px;
}
.hr
{
    color: white;
    width: 120px;
    right: 200%;
    

}
.title
{
     color:#ffff;
    font-size: 45px;
     margin: 13px 0 15px 0;
    
   font-weight: bold;
    text-align: center;
}
.subtitle
{
    font-size: 17px;
    margin-bottom: 40px;
}
.edit
{
    position: relative;
    font-size: 19px;
    font-weight: bold;
    margin-top: 200px;
}
.name
{
    position: relative;
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
    top:0%;
   
}
.bottom
{
    
    position: absolute;
    font-size: x-large;
    bottom: 20px;
    right: 60px;
    bottom:5%;
    font-weight: bold;
}
.pic
{
    position: absolute;
    bottom:90px;
    left: 75%;
    width: 100px;
    height:100px;
    background:url('my pic1.png.jpg')no-repeat;
    background-size: 80px;

}